.js-scroll {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
    transition: .5s;
}

.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/***** BUTTON GOEY *****/

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid var(--cor3);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 0px;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor3);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
    transform: translateX(0);
}

.btn a {
    color: var(--cor3);
}

.btn:hover a {
    color: var(--cor0);
}